telethon
telethon-session-sqlalchemy
aiohttp
aria2p
async_generator
bs4
beautifulsoup4
cairosvg
chromedriver-autoinstaller
cowpy
cryptg
currencyconverter
dnspython
python-dotenv
emoji
emoji-country-flag
gitpython
google-api-python-client
google-auth-oauthlib
git+https://github.com/Joeclinton1/google-images-download.git
googletrans
google-trans-new
gsearch
gTTS
gTTS-token
hachoir
heroku3
httplib2
humanize
imagedown
langdetect
lottie
lxml
lyricsgenius
numpy
oauth2client
Pillow
psutil
psycopg2
pybase64
pydub
pylast
pySmartDL
python-barcode
pytz
qrcode
requests
search-engine-parser
selenium
speedtest-cli
spotdl
spotify_token
sqlalchemy==1.3.23
telegraph
urbandict
wikipedia
youtube_dl
youtube-search
youtube-search-python
gTTS
gTTS-token
